#container {
	width: 960px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid grey;
	font-family: 'Exo', sans-serif;
	position: fixed;
	width: 960px;
	background: white;
	padding: 15px 0 5px 6px;
	.box-shadow(10px 0 20px white);
}

.logo {
	color: black;
	font-size: 40px;
	float: left;
}

nav {
	/*position: relative;*/
	margin-top: 15px;
	margin-left: 450px;
	float: left;
}

.menu-link {
	margin: 10px;
}

section {
	display: none;
}