#container {
	width: 960px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid grey;
	position: fixed;
	width: 960px;
	background: white;
}

.logo {
	color: black;
	font-size: 40px;
	float: left;
}

nav {
	position: relative;
	top: 20px;
	left: 450px;
}

section {
	display: none;
}