@import "normalize";
@import "media-queries";
@import "helpers";

@import "page";
@import "home";
@import "work";

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
	
.left {
	float: left;
}

.clear {
	clear: both;
}