<section id="blog" class="blog">

  <div id="blogOverview" class="blog-overview">
    <div id="posts" class="posts template">
      <a href="blog/{{url}}">
        <div class="thumbnail" style="
          background: url({{photo.url}});
          height: {{photo.height}}px;
          width: {{photo.width}}px;
        ">
          <span class="caption">{{title}}</span>
        </div>
      </a>
    </div>
  </div>

</section>