.about {
	padding-top: 11%;
}

.widget {
	padding: 1.5px;
}

.about-left {
	float: left;
  width: 41%;
  margin-right: 3%;
}

.about-right {
	float:left;
  width: 56%;
}

.profile {
	float: left;
	margin: 0 4% 5% 0;
}

.intro {
  margin: 3%;
  text-align: justify;
}

.tweet {
	list-style-image: url(/img/icons/tweet.png);
}

.repos {
  padding-left: 1%;
}

.repo {
	background: url(/img/icons/repo.png) no-repeat;
  padding-left: 6%;
}

.repo-name {
  float:left;
}

.photos {
	margin-top: 2%;
}

.photo {
  //remove as soon as photo gallery is implemented
  cursor: default;
	margin: 3px 1px;
	&:hover {
    .box-shadow(0 0 5px black);
	}
}