.blog {
  padding-top: 8%;
}

.thumbnail {
  margin: 3.5%;
  position: relative;
  display: inline-block;
  width: 250px;
  .border-radius(3px);
  &:hover, &:focus {
    .inset-box-shadow(0 0 10px black);
    .caption {
      .inset-box-shadow(0 -5px 20px black);
    }
  }
}

.caption {
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  color: white;
  background: rgba(0,0,0,0.6);
  width: 240px;
  text-align: center;
  .border-radius(3px);
}

.load-more {
  margin: 0 auto;
  margin-bottom: 10%;
  width: 6.5%;
  .my-button();
}

