.work {
	padding-top: 100px;
}

.arrow-left, .arrow-right {
  background: yellow;
  .size(30px);
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}

.mask {
  overflow: hidden;
  margin: 0 auto;
  width: 600px;
}

.works {
  background: #bada55;
  position: relative;
  .transition(left, 1s, ease);
}

.work-view {
  float: left;
  position: relative;
  width: 600px;
}

.work-image {
  background: blue;
  border-radius: 20px;
  width: 100%;
  height: 400px;
}

.new-tab {
  position: absolute;
  background: green;
  .size(20px);
}

.work-text {
  background: pink;
  border-radius: 20px;
  width: 100%;
}

.work-teaser {
  text-align: center;
}

.work-more {
  float: right;
  background: red;
}

.work-desc {
  height: 0px;
  overflow: hidden;
}