<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css">


	<link href='http://fonts.googleapis.com/css?family=Exo:400' rel='stylesheet' type='text/css'>

</head>
<body>


<div id="container">

	<header>

		<a href="about" class="logo-link link">
			<span id="name-is" class="name-is no-width">my name is:</span>
			<img src="img/logo.png" alt="jorin" class="logo">
		</a>

		<img src="img/bird.png" alt="" class="bird-header">

	  <a href="http://feeds.feedburner.com/jorinvogel" target="_blank">
	    <div class="rss"></div>
  	</a>

		<nav>
			<a href="about"class="menu-link no-deco link">
				About
			</a>
			<a href="work"class="menu-link no-deco link">
				Work
			</a>
			<a href="blog"class="menu-link no-deco link">
				Blog
			</a>
			<a href="lab"class="menu-link no-deco link">
				Lab
			</a>
		</nav>

		<div class="clear"></div>

	</header>

	<div class="connect">
		<span class="connect-span">connect:</span>
		<a href="https://twitter.com/jorin_vogel" target="_blank">
			<img src="img/icons/twitter.png" alt="" class="connect-link">
		</a>
		<a href="https://facebook.com/jorin-vogel" target="_blank">
			<img src="img/icons/facebook.png" alt="" class="connect-link">
		</a>
		<a href="https://github.com/jorin-vogel/" target="_blank">
			<img src="img/icons/github.png" alt="" class="connect-link">
		</a>
		<a href="mailto:jorin.vogel@gmail.com" id="contactLink" target="_blank">
			<img src="img/icons/mail.png" alt="" class="connect-link">
		</a>
	</div>


</div> <!-- end #container -->


<script data-main="js/main" src="js/libs/require/require.js"></script>

<% if (hash) { %>
	<script>
		window.location.hash = '<%= page %>';
	</script>
<% } %>


<script>
	var _gaq=[['_setAccount','UA-27936838-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>